/* LAYOUT */
.wrapper {
  margin: auto;
  width: 100%;
}
.leftbar {
  display: flex;
  flex-direction: column;
  background: rgba(0, 187, 255, 0.329);
  width: 230px;
}

.header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-bottom: 5px;
  background-color: rgba(8, 62, 133, 0.699);
}

.flexgrow {
  display: flex;
  align-items: stretch;
}

leftbar {
  display: flex;
  flex-direction: column;
  background: rgba(0, 187, 255, 0.329);
  width: 230px;
}

footer {
  height: 200px;
  font-size: 14px;
  text-align: left;
  color: rgb(255, 255, 255);
  background-color: rgba(8, 62, 133, 0.699);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: fit-content;
}

h1 {
  font-size: 30px;
  color: rgb(241, 240, 240);
  text-align: center;
}

h2 {
  font-size: 25px;
  color: rgb(31, 172, 167);
}

h3 {
  font-size: 15px;
  color: rgb(56, 56, 56);
  text-align: left;
  padding-left: 10px;
}

p {
  font-size: 15px;
  color: rgb(56, 56, 56);
}

figcaption {
  font-size: 12px;
  font-style: italic;
}

li {
  padding-bottom: 2px;
  font-size: 14px;
}

li a {
  display: block;
  color: rgb(56, 56, 56);
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  border-top: rgba(112, 24, 116, 0.329) solid 1px;
}

li a:hover {
  background-color: rgba(66, 235, 232, 0.63);
  color: rgb(255, 255, 255);
}

address {
  font-size: 14px;
  color: rgb(241, 240, 240);
  float: right;
}

/* CLASSES */
.figure {
  float: right;
  text-align: center;
  text-indent: 0;
}

.responsive {
  max-width: 100%;
  height: auto;
}
