@viewport {
  zoom: 1;
  width: device-width;
}

body {
  background-color: rgb(206, 86, 86);
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

h1 {
  border-bottom: 2px solid red;
  font-size: 16px;
}

h2 {
  color: rgb(216, 48, 48);
  font-size-adjust: inherit;
  font-style: oblique;
}

h3 {
  color: khaki;
}
p {
  background-color: lemonchiffon;
}
p.note {
  background-color: lightcoral;
  font-size: medium;
}

/* unvisited link */
a:link {
  color: green;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: yellow;
}
