@viewport {
  zoom: 1;
  width: device-width;
}

.body {
  background-color: rgb(206, 86, 86);
}

h2 {
  color: rgb(216, 48, 48);
  font-size-adjust: inherit;
  font-style: oblique;
}

h3 {
  color: khaki;
}
p {
  background-color: lemonchiffon;
}
p.note {
  background-color: lightcoral;
  font-size: medium;
}
